
<ion-header>
  <ion-navbar>
    <ion-title text-center>GLORY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- promot user to sign in / up -->
  <ion-grid *ngIf="isUserSign === false; else userSign;">
        <ion-row>
          <ion-col text-center col-12>
            <ion-title class="animated fadeIn">
                Filling empty ..
              </ion-title>
          </ion-col> 
          <ion-col text-center offset-4 col-4>
              <ion-icon color="light" class="animated rollInLeft blank-user-icon" name="contact"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  text-center offset-2 col-8>
              <span ion-text>Join in to get your bag</span>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col offset-2 col-8>
            <button class="animated bounceInRight fast" full ion-button (click)="onGotoSignInPage()"> Sign In </button>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col offset-2 col-8>
                <button class="animated bounceInRight" full ion-button (click)="onGotoSignUpPage()"> Sign Up </button>
            </ion-col>
        </ion-row>
   </ion-grid>
  
  <ng-template #userSign>

    <!-- empty cart message -->
    <ng-template #cartEmpty>
      <h2 text-center>Your bag is empty</h2>
      <hr>
    </ng-template>


    <!-- HERE item card -->
    <ion-card class="mt-0" *ngIf="cart.length > 0; else cartEmpty;">
      <h2 class="bag-title" text-center>Your Bag</h2>
      <hr>
      <div text-center class="pt-2">
        <h2>
          <span *ngIf="cart.length == 1;">1 Item</span>
          <span *ngIf="cart.length > 1;">{{cart.length}} Items</span>
          <span class="my-2">/</span>
          <span>Total: {{totalCartCost}}</span>
          <!-- <span>(shipping not included)</span> -->
        </h2>
        <hr class="pb-1">
      </div>
      <ion-list>
        <ion-item-sliding class="mt-2 product-item" *ngFor="let cartProduct of cart; let i = index">
          <ion-item no-padding>
            <ion-thumbnail class="pl-0" item-start>
              <img src="{{cartProduct.product.imagePath[0]}}">
            </ion-thumbnail>
            <ion-row>
              <ion-col>
                <h2>{{cartProduct.product.description}}</h2>
                <h3 class="text-bold">{{cartProduct.product.price}} $</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>Size: {{cartProduct.size}}</p>
                <p>Qty: {{cartProduct.amount}}</p>
              </ion-col>
            </ion-row>

          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)="removeProductFromCart(cartProduct)">
              <ion-icon name="trash"></ion-icon>
              delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card>

  </ng-template>

</ion-content>

<ion-footer no-border>
  <ion-toolbar *ngIf="isUserSign === true;">
    <ion-row class="vertical-align-content">
      <ion-col offset-3 col-6>
        <button ion-button outline block [disabled]="cart.length==0" (click)="onChackOut()">Chack Out</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
