page-bag {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  
    ion-card {
      box-shadow: none !important;
      ion-list{
        ion-item {
          height: 20vh;
          ion-thumbnail {
            img {
              height: 18vh !important;
              width: 15vh !important;
            }
          }
        }
      }
    }
  
    ion-icon.blank-user-icon {
      font-size: 7em !important;
  
    }
    .vertical-align-content * {
      display: flex!important;
      vertical-align: center!important;
      align-items: center!important;
    }
  
    count-tool {
      border-color: #e0e0e0;
    }
  }
  