.border-1st {
  border-color: #311B92 !important; }

.border-2nd {
  border-color: #512DA8 !important; }

.border-3rd {
  border-color: #673AB7 !important; }

.border-4th {
  border-color: #9575CD !important; }

.border-5th {
  border-color: #D1C4E9 !important; }

.border-6th {
  border-color: #EDE7F6 !important; }
