page-account {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    ion-icon.demo-icon-center-title {
        font-size: 4.5rem !important;
      }
      ion-content {
          ion-icon.blank-user-icon {
            font-size: 7em !important;
      
          }
      }
    ion-toolbar.account-toolbar {
        width: 100%;
        height: 7vh;
        // color: ghostwhite;

    }
}
