<ion-header>
  <ion-navbar>
    <ion-title text-center>GLORY</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!-- promot user to sign in / up -->
  <ion-grid *ngIf="isUserSignedIn() === false; else userSign;">
    <ion-row>
      <ion-col text-center col-12>
        <ion-title class="animated fadeIn">
          Start to wish !
        </ion-title>
      </ion-col>
      <ion-col text-center offset-4 col-4>
        <ion-icon color="light" class="blank-user-icon" name="contact"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center offset-2 col-8>
        <span ion-text>Join in to start your wish list</span>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col offset-2 col-8>
        <button class="animated bounceInUp fast" full ion-button (click)="onGotoSignInPage()"> Sign In </button>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col offset-2 col-8>
        <button class="animated bounceInUp" full ion-button (click)="onGotoSignUpPage()"> Sign Up </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #userSign>

    <!-- empty fav message -->
    <ng-template #noFavorites>
      <h2 text-center>Start your wish list</h2>
      <hr>
    </ng-template>

    <!-- <ion-grid class="img-grid" *ngIf="favProducts.length > 0; else noFavorites;"> -->
    <div *ngIf="favProducts.length > 0; else noFavorites;">

      <h2 class="fav-title" text-center>Your saved items</h2>
      <hr>

      <ion-list>
        <ion-item *ngFor="let product of favProducts; let i = index">
          <ion-thumbnail item-start class="mr-2">
            <img src="{{product.imagePath[0]}}" (click)="onViewItem(product)">
          </ion-thumbnail>
          <h2 class="ml-4">{{product.description}}</h2>
          <h2 class="ml-4">{{product.price}} $</h2>
          <button ion-button small clear (click)="moveProductToBag()">move to bag</button>
          
        </ion-item>
      </ion-list>

    </div>

  </ng-template>

</ion-content>