/**
 * m-x1-x2-x3-x4  [x1,x2,x3,x4 --> 0...4]  class structure
 */
.m-0-0-0-0 {
  margin: 0px 0px 0px 0px !important; }

.m-0-0-0-1 {
  margin: 0px 0px 0px 4px !important; }

.m-0-0-0-2 {
  margin: 0px 0px 0px 8px !important; }

.m-0-0-0-3 {
  margin: 0px 0px 0px 12px !important; }

.m-0-0-0-4 {
  margin: 0px 0px 0px 16px !important; }

.m-0-0-1-0 {
  margin: 0px 0px 4px 0px !important; }

.m-0-0-1-1 {
  margin: 0px 0px 4px 4px !important; }

.m-0-0-1-2 {
  margin: 0px 0px 4px 8px !important; }

.m-0-0-1-3 {
  margin: 0px 0px 4px 12px !important; }

.m-0-0-1-4 {
  margin: 0px 0px 4px 16px !important; }

.m-0-0-2-0 {
  margin: 0px 0px 8px 0px !important; }

.m-0-0-2-1 {
  margin: 0px 0px 8px 4px !important; }

.m-0-0-2-2 {
  margin: 0px 0px 8px 8px !important; }

.m-0-0-2-3 {
  margin: 0px 0px 8px 12px !important; }

.m-0-0-2-4 {
  margin: 0px 0px 8px 16px !important; }

.m-0-0-3-0 {
  margin: 0px 0px 12px 0px !important; }

.m-0-0-3-1 {
  margin: 0px 0px 12px 4px !important; }

.m-0-0-3-2 {
  margin: 0px 0px 12px 8px !important; }

.m-0-0-3-3 {
  margin: 0px 0px 12px 12px !important; }

.m-0-0-3-4 {
  margin: 0px 0px 12px 16px !important; }

.m-0-0-4-0 {
  margin: 0px 0px 16px 0px !important; }

.m-0-0-4-1 {
  margin: 0px 0px 16px 4px !important; }

.m-0-0-4-2 {
  margin: 0px 0px 16px 8px !important; }

.m-0-0-4-3 {
  margin: 0px 0px 16px 12px !important; }

.m-0-0-4-4 {
  margin: 0px 0px 16px 16px !important; }

.m-0-1-0-0 {
  margin: 0px 4px 0px 0px !important; }

.m-0-1-0-1 {
  margin: 0px 4px 0px 4px !important; }

.m-0-1-0-2 {
  margin: 0px 4px 0px 8px !important; }

.m-0-1-0-3 {
  margin: 0px 4px 0px 12px !important; }

.m-0-1-0-4 {
  margin: 0px 4px 0px 16px !important; }

.m-0-1-1-0 {
  margin: 0px 4px 4px 0px !important; }

.m-0-1-1-1 {
  margin: 0px 4px 4px 4px !important; }

.m-0-1-1-2 {
  margin: 0px 4px 4px 8px !important; }

.m-0-1-1-3 {
  margin: 0px 4px 4px 12px !important; }

.m-0-1-1-4 {
  margin: 0px 4px 4px 16px !important; }

.m-0-1-2-0 {
  margin: 0px 4px 8px 0px !important; }

.m-0-1-2-1 {
  margin: 0px 4px 8px 4px !important; }

.m-0-1-2-2 {
  margin: 0px 4px 8px 8px !important; }

.m-0-1-2-3 {
  margin: 0px 4px 8px 12px !important; }

.m-0-1-2-4 {
  margin: 0px 4px 8px 16px !important; }

.m-0-1-3-0 {
  margin: 0px 4px 12px 0px !important; }

.m-0-1-3-1 {
  margin: 0px 4px 12px 4px !important; }

.m-0-1-3-2 {
  margin: 0px 4px 12px 8px !important; }

.m-0-1-3-3 {
  margin: 0px 4px 12px 12px !important; }

.m-0-1-3-4 {
  margin: 0px 4px 12px 16px !important; }

.m-0-1-4-0 {
  margin: 0px 4px 16px 0px !important; }

.m-0-1-4-1 {
  margin: 0px 4px 16px 4px !important; }

.m-0-1-4-2 {
  margin: 0px 4px 16px 8px !important; }

.m-0-1-4-3 {
  margin: 0px 4px 16px 12px !important; }

.m-0-1-4-4 {
  margin: 0px 4px 16px 16px !important; }

.m-0-2-0-0 {
  margin: 0px 8px 0px 0px !important; }

.m-0-2-0-1 {
  margin: 0px 8px 0px 4px !important; }

.m-0-2-0-2 {
  margin: 0px 8px 0px 8px !important; }

.m-0-2-0-3 {
  margin: 0px 8px 0px 12px !important; }

.m-0-2-0-4 {
  margin: 0px 8px 0px 16px !important; }

.m-0-2-1-0 {
  margin: 0px 8px 4px 0px !important; }

.m-0-2-1-1 {
  margin: 0px 8px 4px 4px !important; }

.m-0-2-1-2 {
  margin: 0px 8px 4px 8px !important; }

.m-0-2-1-3 {
  margin: 0px 8px 4px 12px !important; }

.m-0-2-1-4 {
  margin: 0px 8px 4px 16px !important; }

.m-0-2-2-0 {
  margin: 0px 8px 8px 0px !important; }

.m-0-2-2-1 {
  margin: 0px 8px 8px 4px !important; }

.m-0-2-2-2 {
  margin: 0px 8px 8px 8px !important; }

.m-0-2-2-3 {
  margin: 0px 8px 8px 12px !important; }

.m-0-2-2-4 {
  margin: 0px 8px 8px 16px !important; }

.m-0-2-3-0 {
  margin: 0px 8px 12px 0px !important; }

.m-0-2-3-1 {
  margin: 0px 8px 12px 4px !important; }

.m-0-2-3-2 {
  margin: 0px 8px 12px 8px !important; }

.m-0-2-3-3 {
  margin: 0px 8px 12px 12px !important; }

.m-0-2-3-4 {
  margin: 0px 8px 12px 16px !important; }

.m-0-2-4-0 {
  margin: 0px 8px 16px 0px !important; }

.m-0-2-4-1 {
  margin: 0px 8px 16px 4px !important; }

.m-0-2-4-2 {
  margin: 0px 8px 16px 8px !important; }

.m-0-2-4-3 {
  margin: 0px 8px 16px 12px !important; }

.m-0-2-4-4 {
  margin: 0px 8px 16px 16px !important; }

.m-0-3-0-0 {
  margin: 0px 12px 0px 0px !important; }

.m-0-3-0-1 {
  margin: 0px 12px 0px 4px !important; }

.m-0-3-0-2 {
  margin: 0px 12px 0px 8px !important; }

.m-0-3-0-3 {
  margin: 0px 12px 0px 12px !important; }

.m-0-3-0-4 {
  margin: 0px 12px 0px 16px !important; }

.m-0-3-1-0 {
  margin: 0px 12px 4px 0px !important; }

.m-0-3-1-1 {
  margin: 0px 12px 4px 4px !important; }

.m-0-3-1-2 {
  margin: 0px 12px 4px 8px !important; }

.m-0-3-1-3 {
  margin: 0px 12px 4px 12px !important; }

.m-0-3-1-4 {
  margin: 0px 12px 4px 16px !important; }

.m-0-3-2-0 {
  margin: 0px 12px 8px 0px !important; }

.m-0-3-2-1 {
  margin: 0px 12px 8px 4px !important; }

.m-0-3-2-2 {
  margin: 0px 12px 8px 8px !important; }

.m-0-3-2-3 {
  margin: 0px 12px 8px 12px !important; }

.m-0-3-2-4 {
  margin: 0px 12px 8px 16px !important; }

.m-0-3-3-0 {
  margin: 0px 12px 12px 0px !important; }

.m-0-3-3-1 {
  margin: 0px 12px 12px 4px !important; }

.m-0-3-3-2 {
  margin: 0px 12px 12px 8px !important; }

.m-0-3-3-3 {
  margin: 0px 12px 12px 12px !important; }

.m-0-3-3-4 {
  margin: 0px 12px 12px 16px !important; }

.m-0-3-4-0 {
  margin: 0px 12px 16px 0px !important; }

.m-0-3-4-1 {
  margin: 0px 12px 16px 4px !important; }

.m-0-3-4-2 {
  margin: 0px 12px 16px 8px !important; }

.m-0-3-4-3 {
  margin: 0px 12px 16px 12px !important; }

.m-0-3-4-4 {
  margin: 0px 12px 16px 16px !important; }

.m-0-4-0-0 {
  margin: 0px 16px 0px 0px !important; }

.m-0-4-0-1 {
  margin: 0px 16px 0px 4px !important; }

.m-0-4-0-2 {
  margin: 0px 16px 0px 8px !important; }

.m-0-4-0-3 {
  margin: 0px 16px 0px 12px !important; }

.m-0-4-0-4 {
  margin: 0px 16px 0px 16px !important; }

.m-0-4-1-0 {
  margin: 0px 16px 4px 0px !important; }

.m-0-4-1-1 {
  margin: 0px 16px 4px 4px !important; }

.m-0-4-1-2 {
  margin: 0px 16px 4px 8px !important; }

.m-0-4-1-3 {
  margin: 0px 16px 4px 12px !important; }

.m-0-4-1-4 {
  margin: 0px 16px 4px 16px !important; }

.m-0-4-2-0 {
  margin: 0px 16px 8px 0px !important; }

.m-0-4-2-1 {
  margin: 0px 16px 8px 4px !important; }

.m-0-4-2-2 {
  margin: 0px 16px 8px 8px !important; }

.m-0-4-2-3 {
  margin: 0px 16px 8px 12px !important; }

.m-0-4-2-4 {
  margin: 0px 16px 8px 16px !important; }

.m-0-4-3-0 {
  margin: 0px 16px 12px 0px !important; }

.m-0-4-3-1 {
  margin: 0px 16px 12px 4px !important; }

.m-0-4-3-2 {
  margin: 0px 16px 12px 8px !important; }

.m-0-4-3-3 {
  margin: 0px 16px 12px 12px !important; }

.m-0-4-3-4 {
  margin: 0px 16px 12px 16px !important; }

.m-0-4-4-0 {
  margin: 0px 16px 16px 0px !important; }

.m-0-4-4-1 {
  margin: 0px 16px 16px 4px !important; }

.m-0-4-4-2 {
  margin: 0px 16px 16px 8px !important; }

.m-0-4-4-3 {
  margin: 0px 16px 16px 12px !important; }

.m-0-4-4-4 {
  margin: 0px 16px 16px 16px !important; }

.m-1-0-0-0 {
  margin: 4px 0px 0px 0px !important; }

.m-1-0-0-1 {
  margin: 4px 0px 0px 4px !important; }

.m-1-0-0-2 {
  margin: 4px 0px 0px 8px !important; }

.m-1-0-0-3 {
  margin: 4px 0px 0px 12px !important; }

.m-1-0-0-4 {
  margin: 4px 0px 0px 16px !important; }

.m-1-0-1-0 {
  margin: 4px 0px 4px 0px !important; }

.m-1-0-1-1 {
  margin: 4px 0px 4px 4px !important; }

.m-1-0-1-2 {
  margin: 4px 0px 4px 8px !important; }

.m-1-0-1-3 {
  margin: 4px 0px 4px 12px !important; }

.m-1-0-1-4 {
  margin: 4px 0px 4px 16px !important; }

.m-1-0-2-0 {
  margin: 4px 0px 8px 0px !important; }

.m-1-0-2-1 {
  margin: 4px 0px 8px 4px !important; }

.m-1-0-2-2 {
  margin: 4px 0px 8px 8px !important; }

.m-1-0-2-3 {
  margin: 4px 0px 8px 12px !important; }

.m-1-0-2-4 {
  margin: 4px 0px 8px 16px !important; }

.m-1-0-3-0 {
  margin: 4px 0px 12px 0px !important; }

.m-1-0-3-1 {
  margin: 4px 0px 12px 4px !important; }

.m-1-0-3-2 {
  margin: 4px 0px 12px 8px !important; }

.m-1-0-3-3 {
  margin: 4px 0px 12px 12px !important; }

.m-1-0-3-4 {
  margin: 4px 0px 12px 16px !important; }

.m-1-0-4-0 {
  margin: 4px 0px 16px 0px !important; }

.m-1-0-4-1 {
  margin: 4px 0px 16px 4px !important; }

.m-1-0-4-2 {
  margin: 4px 0px 16px 8px !important; }

.m-1-0-4-3 {
  margin: 4px 0px 16px 12px !important; }

.m-1-0-4-4 {
  margin: 4px 0px 16px 16px !important; }

.m-1-1-0-0 {
  margin: 4px 4px 0px 0px !important; }

.m-1-1-0-1 {
  margin: 4px 4px 0px 4px !important; }

.m-1-1-0-2 {
  margin: 4px 4px 0px 8px !important; }

.m-1-1-0-3 {
  margin: 4px 4px 0px 12px !important; }

.m-1-1-0-4 {
  margin: 4px 4px 0px 16px !important; }

.m-1-1-1-0 {
  margin: 4px 4px 4px 0px !important; }

.m-1-1-1-1 {
  margin: 4px 4px 4px 4px !important; }

.m-1-1-1-2 {
  margin: 4px 4px 4px 8px !important; }

.m-1-1-1-3 {
  margin: 4px 4px 4px 12px !important; }

.m-1-1-1-4 {
  margin: 4px 4px 4px 16px !important; }

.m-1-1-2-0 {
  margin: 4px 4px 8px 0px !important; }

.m-1-1-2-1 {
  margin: 4px 4px 8px 4px !important; }

.m-1-1-2-2 {
  margin: 4px 4px 8px 8px !important; }

.m-1-1-2-3 {
  margin: 4px 4px 8px 12px !important; }

.m-1-1-2-4 {
  margin: 4px 4px 8px 16px !important; }

.m-1-1-3-0 {
  margin: 4px 4px 12px 0px !important; }

.m-1-1-3-1 {
  margin: 4px 4px 12px 4px !important; }

.m-1-1-3-2 {
  margin: 4px 4px 12px 8px !important; }

.m-1-1-3-3 {
  margin: 4px 4px 12px 12px !important; }

.m-1-1-3-4 {
  margin: 4px 4px 12px 16px !important; }

.m-1-1-4-0 {
  margin: 4px 4px 16px 0px !important; }

.m-1-1-4-1 {
  margin: 4px 4px 16px 4px !important; }

.m-1-1-4-2 {
  margin: 4px 4px 16px 8px !important; }

.m-1-1-4-3 {
  margin: 4px 4px 16px 12px !important; }

.m-1-1-4-4 {
  margin: 4px 4px 16px 16px !important; }

.m-1-2-0-0 {
  margin: 4px 8px 0px 0px !important; }

.m-1-2-0-1 {
  margin: 4px 8px 0px 4px !important; }

.m-1-2-0-2 {
  margin: 4px 8px 0px 8px !important; }

.m-1-2-0-3 {
  margin: 4px 8px 0px 12px !important; }

.m-1-2-0-4 {
  margin: 4px 8px 0px 16px !important; }

.m-1-2-1-0 {
  margin: 4px 8px 4px 0px !important; }

.m-1-2-1-1 {
  margin: 4px 8px 4px 4px !important; }

.m-1-2-1-2 {
  margin: 4px 8px 4px 8px !important; }

.m-1-2-1-3 {
  margin: 4px 8px 4px 12px !important; }

.m-1-2-1-4 {
  margin: 4px 8px 4px 16px !important; }

.m-1-2-2-0 {
  margin: 4px 8px 8px 0px !important; }

.m-1-2-2-1 {
  margin: 4px 8px 8px 4px !important; }

.m-1-2-2-2 {
  margin: 4px 8px 8px 8px !important; }

.m-1-2-2-3 {
  margin: 4px 8px 8px 12px !important; }

.m-1-2-2-4 {
  margin: 4px 8px 8px 16px !important; }

.m-1-2-3-0 {
  margin: 4px 8px 12px 0px !important; }

.m-1-2-3-1 {
  margin: 4px 8px 12px 4px !important; }

.m-1-2-3-2 {
  margin: 4px 8px 12px 8px !important; }

.m-1-2-3-3 {
  margin: 4px 8px 12px 12px !important; }

.m-1-2-3-4 {
  margin: 4px 8px 12px 16px !important; }

.m-1-2-4-0 {
  margin: 4px 8px 16px 0px !important; }

.m-1-2-4-1 {
  margin: 4px 8px 16px 4px !important; }

.m-1-2-4-2 {
  margin: 4px 8px 16px 8px !important; }

.m-1-2-4-3 {
  margin: 4px 8px 16px 12px !important; }

.m-1-2-4-4 {
  margin: 4px 8px 16px 16px !important; }

.m-1-3-0-0 {
  margin: 4px 12px 0px 0px !important; }

.m-1-3-0-1 {
  margin: 4px 12px 0px 4px !important; }

.m-1-3-0-2 {
  margin: 4px 12px 0px 8px !important; }

.m-1-3-0-3 {
  margin: 4px 12px 0px 12px !important; }

.m-1-3-0-4 {
  margin: 4px 12px 0px 16px !important; }

.m-1-3-1-0 {
  margin: 4px 12px 4px 0px !important; }

.m-1-3-1-1 {
  margin: 4px 12px 4px 4px !important; }

.m-1-3-1-2 {
  margin: 4px 12px 4px 8px !important; }

.m-1-3-1-3 {
  margin: 4px 12px 4px 12px !important; }

.m-1-3-1-4 {
  margin: 4px 12px 4px 16px !important; }

.m-1-3-2-0 {
  margin: 4px 12px 8px 0px !important; }

.m-1-3-2-1 {
  margin: 4px 12px 8px 4px !important; }

.m-1-3-2-2 {
  margin: 4px 12px 8px 8px !important; }

.m-1-3-2-3 {
  margin: 4px 12px 8px 12px !important; }

.m-1-3-2-4 {
  margin: 4px 12px 8px 16px !important; }

.m-1-3-3-0 {
  margin: 4px 12px 12px 0px !important; }

.m-1-3-3-1 {
  margin: 4px 12px 12px 4px !important; }

.m-1-3-3-2 {
  margin: 4px 12px 12px 8px !important; }

.m-1-3-3-3 {
  margin: 4px 12px 12px 12px !important; }

.m-1-3-3-4 {
  margin: 4px 12px 12px 16px !important; }

.m-1-3-4-0 {
  margin: 4px 12px 16px 0px !important; }

.m-1-3-4-1 {
  margin: 4px 12px 16px 4px !important; }

.m-1-3-4-2 {
  margin: 4px 12px 16px 8px !important; }

.m-1-3-4-3 {
  margin: 4px 12px 16px 12px !important; }

.m-1-3-4-4 {
  margin: 4px 12px 16px 16px !important; }

.m-1-4-0-0 {
  margin: 4px 16px 0px 0px !important; }

.m-1-4-0-1 {
  margin: 4px 16px 0px 4px !important; }

.m-1-4-0-2 {
  margin: 4px 16px 0px 8px !important; }

.m-1-4-0-3 {
  margin: 4px 16px 0px 12px !important; }

.m-1-4-0-4 {
  margin: 4px 16px 0px 16px !important; }

.m-1-4-1-0 {
  margin: 4px 16px 4px 0px !important; }

.m-1-4-1-1 {
  margin: 4px 16px 4px 4px !important; }

.m-1-4-1-2 {
  margin: 4px 16px 4px 8px !important; }

.m-1-4-1-3 {
  margin: 4px 16px 4px 12px !important; }

.m-1-4-1-4 {
  margin: 4px 16px 4px 16px !important; }

.m-1-4-2-0 {
  margin: 4px 16px 8px 0px !important; }

.m-1-4-2-1 {
  margin: 4px 16px 8px 4px !important; }

.m-1-4-2-2 {
  margin: 4px 16px 8px 8px !important; }

.m-1-4-2-3 {
  margin: 4px 16px 8px 12px !important; }

.m-1-4-2-4 {
  margin: 4px 16px 8px 16px !important; }

.m-1-4-3-0 {
  margin: 4px 16px 12px 0px !important; }

.m-1-4-3-1 {
  margin: 4px 16px 12px 4px !important; }

.m-1-4-3-2 {
  margin: 4px 16px 12px 8px !important; }

.m-1-4-3-3 {
  margin: 4px 16px 12px 12px !important; }

.m-1-4-3-4 {
  margin: 4px 16px 12px 16px !important; }

.m-1-4-4-0 {
  margin: 4px 16px 16px 0px !important; }

.m-1-4-4-1 {
  margin: 4px 16px 16px 4px !important; }

.m-1-4-4-2 {
  margin: 4px 16px 16px 8px !important; }

.m-1-4-4-3 {
  margin: 4px 16px 16px 12px !important; }

.m-1-4-4-4 {
  margin: 4px 16px 16px 16px !important; }

.m-2-0-0-0 {
  margin: 8px 0px 0px 0px !important; }

.m-2-0-0-1 {
  margin: 8px 0px 0px 4px !important; }

.m-2-0-0-2 {
  margin: 8px 0px 0px 8px !important; }

.m-2-0-0-3 {
  margin: 8px 0px 0px 12px !important; }

.m-2-0-0-4 {
  margin: 8px 0px 0px 16px !important; }

.m-2-0-1-0 {
  margin: 8px 0px 4px 0px !important; }

.m-2-0-1-1 {
  margin: 8px 0px 4px 4px !important; }

.m-2-0-1-2 {
  margin: 8px 0px 4px 8px !important; }

.m-2-0-1-3 {
  margin: 8px 0px 4px 12px !important; }

.m-2-0-1-4 {
  margin: 8px 0px 4px 16px !important; }

.m-2-0-2-0 {
  margin: 8px 0px 8px 0px !important; }

.m-2-0-2-1 {
  margin: 8px 0px 8px 4px !important; }

.m-2-0-2-2 {
  margin: 8px 0px 8px 8px !important; }

.m-2-0-2-3 {
  margin: 8px 0px 8px 12px !important; }

.m-2-0-2-4 {
  margin: 8px 0px 8px 16px !important; }

.m-2-0-3-0 {
  margin: 8px 0px 12px 0px !important; }

.m-2-0-3-1 {
  margin: 8px 0px 12px 4px !important; }

.m-2-0-3-2 {
  margin: 8px 0px 12px 8px !important; }

.m-2-0-3-3 {
  margin: 8px 0px 12px 12px !important; }

.m-2-0-3-4 {
  margin: 8px 0px 12px 16px !important; }

.m-2-0-4-0 {
  margin: 8px 0px 16px 0px !important; }

.m-2-0-4-1 {
  margin: 8px 0px 16px 4px !important; }

.m-2-0-4-2 {
  margin: 8px 0px 16px 8px !important; }

.m-2-0-4-3 {
  margin: 8px 0px 16px 12px !important; }

.m-2-0-4-4 {
  margin: 8px 0px 16px 16px !important; }

.m-2-1-0-0 {
  margin: 8px 4px 0px 0px !important; }

.m-2-1-0-1 {
  margin: 8px 4px 0px 4px !important; }

.m-2-1-0-2 {
  margin: 8px 4px 0px 8px !important; }

.m-2-1-0-3 {
  margin: 8px 4px 0px 12px !important; }

.m-2-1-0-4 {
  margin: 8px 4px 0px 16px !important; }

.m-2-1-1-0 {
  margin: 8px 4px 4px 0px !important; }

.m-2-1-1-1 {
  margin: 8px 4px 4px 4px !important; }

.m-2-1-1-2 {
  margin: 8px 4px 4px 8px !important; }

.m-2-1-1-3 {
  margin: 8px 4px 4px 12px !important; }

.m-2-1-1-4 {
  margin: 8px 4px 4px 16px !important; }

.m-2-1-2-0 {
  margin: 8px 4px 8px 0px !important; }

.m-2-1-2-1 {
  margin: 8px 4px 8px 4px !important; }

.m-2-1-2-2 {
  margin: 8px 4px 8px 8px !important; }

.m-2-1-2-3 {
  margin: 8px 4px 8px 12px !important; }

.m-2-1-2-4 {
  margin: 8px 4px 8px 16px !important; }

.m-2-1-3-0 {
  margin: 8px 4px 12px 0px !important; }

.m-2-1-3-1 {
  margin: 8px 4px 12px 4px !important; }

.m-2-1-3-2 {
  margin: 8px 4px 12px 8px !important; }

.m-2-1-3-3 {
  margin: 8px 4px 12px 12px !important; }

.m-2-1-3-4 {
  margin: 8px 4px 12px 16px !important; }

.m-2-1-4-0 {
  margin: 8px 4px 16px 0px !important; }

.m-2-1-4-1 {
  margin: 8px 4px 16px 4px !important; }

.m-2-1-4-2 {
  margin: 8px 4px 16px 8px !important; }

.m-2-1-4-3 {
  margin: 8px 4px 16px 12px !important; }

.m-2-1-4-4 {
  margin: 8px 4px 16px 16px !important; }

.m-2-2-0-0 {
  margin: 8px 8px 0px 0px !important; }

.m-2-2-0-1 {
  margin: 8px 8px 0px 4px !important; }

.m-2-2-0-2 {
  margin: 8px 8px 0px 8px !important; }

.m-2-2-0-3 {
  margin: 8px 8px 0px 12px !important; }

.m-2-2-0-4 {
  margin: 8px 8px 0px 16px !important; }

.m-2-2-1-0 {
  margin: 8px 8px 4px 0px !important; }

.m-2-2-1-1 {
  margin: 8px 8px 4px 4px !important; }

.m-2-2-1-2 {
  margin: 8px 8px 4px 8px !important; }

.m-2-2-1-3 {
  margin: 8px 8px 4px 12px !important; }

.m-2-2-1-4 {
  margin: 8px 8px 4px 16px !important; }

.m-2-2-2-0 {
  margin: 8px 8px 8px 0px !important; }

.m-2-2-2-1 {
  margin: 8px 8px 8px 4px !important; }

.m-2-2-2-2 {
  margin: 8px 8px 8px 8px !important; }

.m-2-2-2-3 {
  margin: 8px 8px 8px 12px !important; }

.m-2-2-2-4 {
  margin: 8px 8px 8px 16px !important; }

.m-2-2-3-0 {
  margin: 8px 8px 12px 0px !important; }

.m-2-2-3-1 {
  margin: 8px 8px 12px 4px !important; }

.m-2-2-3-2 {
  margin: 8px 8px 12px 8px !important; }

.m-2-2-3-3 {
  margin: 8px 8px 12px 12px !important; }

.m-2-2-3-4 {
  margin: 8px 8px 12px 16px !important; }

.m-2-2-4-0 {
  margin: 8px 8px 16px 0px !important; }

.m-2-2-4-1 {
  margin: 8px 8px 16px 4px !important; }

.m-2-2-4-2 {
  margin: 8px 8px 16px 8px !important; }

.m-2-2-4-3 {
  margin: 8px 8px 16px 12px !important; }

.m-2-2-4-4 {
  margin: 8px 8px 16px 16px !important; }

.m-2-3-0-0 {
  margin: 8px 12px 0px 0px !important; }

.m-2-3-0-1 {
  margin: 8px 12px 0px 4px !important; }

.m-2-3-0-2 {
  margin: 8px 12px 0px 8px !important; }

.m-2-3-0-3 {
  margin: 8px 12px 0px 12px !important; }

.m-2-3-0-4 {
  margin: 8px 12px 0px 16px !important; }

.m-2-3-1-0 {
  margin: 8px 12px 4px 0px !important; }

.m-2-3-1-1 {
  margin: 8px 12px 4px 4px !important; }

.m-2-3-1-2 {
  margin: 8px 12px 4px 8px !important; }

.m-2-3-1-3 {
  margin: 8px 12px 4px 12px !important; }

.m-2-3-1-4 {
  margin: 8px 12px 4px 16px !important; }

.m-2-3-2-0 {
  margin: 8px 12px 8px 0px !important; }

.m-2-3-2-1 {
  margin: 8px 12px 8px 4px !important; }

.m-2-3-2-2 {
  margin: 8px 12px 8px 8px !important; }

.m-2-3-2-3 {
  margin: 8px 12px 8px 12px !important; }

.m-2-3-2-4 {
  margin: 8px 12px 8px 16px !important; }

.m-2-3-3-0 {
  margin: 8px 12px 12px 0px !important; }

.m-2-3-3-1 {
  margin: 8px 12px 12px 4px !important; }

.m-2-3-3-2 {
  margin: 8px 12px 12px 8px !important; }

.m-2-3-3-3 {
  margin: 8px 12px 12px 12px !important; }

.m-2-3-3-4 {
  margin: 8px 12px 12px 16px !important; }

.m-2-3-4-0 {
  margin: 8px 12px 16px 0px !important; }

.m-2-3-4-1 {
  margin: 8px 12px 16px 4px !important; }

.m-2-3-4-2 {
  margin: 8px 12px 16px 8px !important; }

.m-2-3-4-3 {
  margin: 8px 12px 16px 12px !important; }

.m-2-3-4-4 {
  margin: 8px 12px 16px 16px !important; }

.m-2-4-0-0 {
  margin: 8px 16px 0px 0px !important; }

.m-2-4-0-1 {
  margin: 8px 16px 0px 4px !important; }

.m-2-4-0-2 {
  margin: 8px 16px 0px 8px !important; }

.m-2-4-0-3 {
  margin: 8px 16px 0px 12px !important; }

.m-2-4-0-4 {
  margin: 8px 16px 0px 16px !important; }

.m-2-4-1-0 {
  margin: 8px 16px 4px 0px !important; }

.m-2-4-1-1 {
  margin: 8px 16px 4px 4px !important; }

.m-2-4-1-2 {
  margin: 8px 16px 4px 8px !important; }

.m-2-4-1-3 {
  margin: 8px 16px 4px 12px !important; }

.m-2-4-1-4 {
  margin: 8px 16px 4px 16px !important; }

.m-2-4-2-0 {
  margin: 8px 16px 8px 0px !important; }

.m-2-4-2-1 {
  margin: 8px 16px 8px 4px !important; }

.m-2-4-2-2 {
  margin: 8px 16px 8px 8px !important; }

.m-2-4-2-3 {
  margin: 8px 16px 8px 12px !important; }

.m-2-4-2-4 {
  margin: 8px 16px 8px 16px !important; }

.m-2-4-3-0 {
  margin: 8px 16px 12px 0px !important; }

.m-2-4-3-1 {
  margin: 8px 16px 12px 4px !important; }

.m-2-4-3-2 {
  margin: 8px 16px 12px 8px !important; }

.m-2-4-3-3 {
  margin: 8px 16px 12px 12px !important; }

.m-2-4-3-4 {
  margin: 8px 16px 12px 16px !important; }

.m-2-4-4-0 {
  margin: 8px 16px 16px 0px !important; }

.m-2-4-4-1 {
  margin: 8px 16px 16px 4px !important; }

.m-2-4-4-2 {
  margin: 8px 16px 16px 8px !important; }

.m-2-4-4-3 {
  margin: 8px 16px 16px 12px !important; }

.m-2-4-4-4 {
  margin: 8px 16px 16px 16px !important; }

.m-3-0-0-0 {
  margin: 12px 0px 0px 0px !important; }

.m-3-0-0-1 {
  margin: 12px 0px 0px 4px !important; }

.m-3-0-0-2 {
  margin: 12px 0px 0px 8px !important; }

.m-3-0-0-3 {
  margin: 12px 0px 0px 12px !important; }

.m-3-0-0-4 {
  margin: 12px 0px 0px 16px !important; }

.m-3-0-1-0 {
  margin: 12px 0px 4px 0px !important; }

.m-3-0-1-1 {
  margin: 12px 0px 4px 4px !important; }

.m-3-0-1-2 {
  margin: 12px 0px 4px 8px !important; }

.m-3-0-1-3 {
  margin: 12px 0px 4px 12px !important; }

.m-3-0-1-4 {
  margin: 12px 0px 4px 16px !important; }

.m-3-0-2-0 {
  margin: 12px 0px 8px 0px !important; }

.m-3-0-2-1 {
  margin: 12px 0px 8px 4px !important; }

.m-3-0-2-2 {
  margin: 12px 0px 8px 8px !important; }

.m-3-0-2-3 {
  margin: 12px 0px 8px 12px !important; }

.m-3-0-2-4 {
  margin: 12px 0px 8px 16px !important; }

.m-3-0-3-0 {
  margin: 12px 0px 12px 0px !important; }

.m-3-0-3-1 {
  margin: 12px 0px 12px 4px !important; }

.m-3-0-3-2 {
  margin: 12px 0px 12px 8px !important; }

.m-3-0-3-3 {
  margin: 12px 0px 12px 12px !important; }

.m-3-0-3-4 {
  margin: 12px 0px 12px 16px !important; }

.m-3-0-4-0 {
  margin: 12px 0px 16px 0px !important; }

.m-3-0-4-1 {
  margin: 12px 0px 16px 4px !important; }

.m-3-0-4-2 {
  margin: 12px 0px 16px 8px !important; }

.m-3-0-4-3 {
  margin: 12px 0px 16px 12px !important; }

.m-3-0-4-4 {
  margin: 12px 0px 16px 16px !important; }

.m-3-1-0-0 {
  margin: 12px 4px 0px 0px !important; }

.m-3-1-0-1 {
  margin: 12px 4px 0px 4px !important; }

.m-3-1-0-2 {
  margin: 12px 4px 0px 8px !important; }

.m-3-1-0-3 {
  margin: 12px 4px 0px 12px !important; }

.m-3-1-0-4 {
  margin: 12px 4px 0px 16px !important; }

.m-3-1-1-0 {
  margin: 12px 4px 4px 0px !important; }

.m-3-1-1-1 {
  margin: 12px 4px 4px 4px !important; }

.m-3-1-1-2 {
  margin: 12px 4px 4px 8px !important; }

.m-3-1-1-3 {
  margin: 12px 4px 4px 12px !important; }

.m-3-1-1-4 {
  margin: 12px 4px 4px 16px !important; }

.m-3-1-2-0 {
  margin: 12px 4px 8px 0px !important; }

.m-3-1-2-1 {
  margin: 12px 4px 8px 4px !important; }

.m-3-1-2-2 {
  margin: 12px 4px 8px 8px !important; }

.m-3-1-2-3 {
  margin: 12px 4px 8px 12px !important; }

.m-3-1-2-4 {
  margin: 12px 4px 8px 16px !important; }

.m-3-1-3-0 {
  margin: 12px 4px 12px 0px !important; }

.m-3-1-3-1 {
  margin: 12px 4px 12px 4px !important; }

.m-3-1-3-2 {
  margin: 12px 4px 12px 8px !important; }

.m-3-1-3-3 {
  margin: 12px 4px 12px 12px !important; }

.m-3-1-3-4 {
  margin: 12px 4px 12px 16px !important; }

.m-3-1-4-0 {
  margin: 12px 4px 16px 0px !important; }

.m-3-1-4-1 {
  margin: 12px 4px 16px 4px !important; }

.m-3-1-4-2 {
  margin: 12px 4px 16px 8px !important; }

.m-3-1-4-3 {
  margin: 12px 4px 16px 12px !important; }

.m-3-1-4-4 {
  margin: 12px 4px 16px 16px !important; }

.m-3-2-0-0 {
  margin: 12px 8px 0px 0px !important; }

.m-3-2-0-1 {
  margin: 12px 8px 0px 4px !important; }

.m-3-2-0-2 {
  margin: 12px 8px 0px 8px !important; }

.m-3-2-0-3 {
  margin: 12px 8px 0px 12px !important; }

.m-3-2-0-4 {
  margin: 12px 8px 0px 16px !important; }

.m-3-2-1-0 {
  margin: 12px 8px 4px 0px !important; }

.m-3-2-1-1 {
  margin: 12px 8px 4px 4px !important; }

.m-3-2-1-2 {
  margin: 12px 8px 4px 8px !important; }

.m-3-2-1-3 {
  margin: 12px 8px 4px 12px !important; }

.m-3-2-1-4 {
  margin: 12px 8px 4px 16px !important; }

.m-3-2-2-0 {
  margin: 12px 8px 8px 0px !important; }

.m-3-2-2-1 {
  margin: 12px 8px 8px 4px !important; }

.m-3-2-2-2 {
  margin: 12px 8px 8px 8px !important; }

.m-3-2-2-3 {
  margin: 12px 8px 8px 12px !important; }

.m-3-2-2-4 {
  margin: 12px 8px 8px 16px !important; }

.m-3-2-3-0 {
  margin: 12px 8px 12px 0px !important; }

.m-3-2-3-1 {
  margin: 12px 8px 12px 4px !important; }

.m-3-2-3-2 {
  margin: 12px 8px 12px 8px !important; }

.m-3-2-3-3 {
  margin: 12px 8px 12px 12px !important; }

.m-3-2-3-4 {
  margin: 12px 8px 12px 16px !important; }

.m-3-2-4-0 {
  margin: 12px 8px 16px 0px !important; }

.m-3-2-4-1 {
  margin: 12px 8px 16px 4px !important; }

.m-3-2-4-2 {
  margin: 12px 8px 16px 8px !important; }

.m-3-2-4-3 {
  margin: 12px 8px 16px 12px !important; }

.m-3-2-4-4 {
  margin: 12px 8px 16px 16px !important; }

.m-3-3-0-0 {
  margin: 12px 12px 0px 0px !important; }

.m-3-3-0-1 {
  margin: 12px 12px 0px 4px !important; }

.m-3-3-0-2 {
  margin: 12px 12px 0px 8px !important; }

.m-3-3-0-3 {
  margin: 12px 12px 0px 12px !important; }

.m-3-3-0-4 {
  margin: 12px 12px 0px 16px !important; }

.m-3-3-1-0 {
  margin: 12px 12px 4px 0px !important; }

.m-3-3-1-1 {
  margin: 12px 12px 4px 4px !important; }

.m-3-3-1-2 {
  margin: 12px 12px 4px 8px !important; }

.m-3-3-1-3 {
  margin: 12px 12px 4px 12px !important; }

.m-3-3-1-4 {
  margin: 12px 12px 4px 16px !important; }

.m-3-3-2-0 {
  margin: 12px 12px 8px 0px !important; }

.m-3-3-2-1 {
  margin: 12px 12px 8px 4px !important; }

.m-3-3-2-2 {
  margin: 12px 12px 8px 8px !important; }

.m-3-3-2-3 {
  margin: 12px 12px 8px 12px !important; }

.m-3-3-2-4 {
  margin: 12px 12px 8px 16px !important; }

.m-3-3-3-0 {
  margin: 12px 12px 12px 0px !important; }

.m-3-3-3-1 {
  margin: 12px 12px 12px 4px !important; }

.m-3-3-3-2 {
  margin: 12px 12px 12px 8px !important; }

.m-3-3-3-3 {
  margin: 12px 12px 12px 12px !important; }

.m-3-3-3-4 {
  margin: 12px 12px 12px 16px !important; }

.m-3-3-4-0 {
  margin: 12px 12px 16px 0px !important; }

.m-3-3-4-1 {
  margin: 12px 12px 16px 4px !important; }

.m-3-3-4-2 {
  margin: 12px 12px 16px 8px !important; }

.m-3-3-4-3 {
  margin: 12px 12px 16px 12px !important; }

.m-3-3-4-4 {
  margin: 12px 12px 16px 16px !important; }

.m-3-4-0-0 {
  margin: 12px 16px 0px 0px !important; }

.m-3-4-0-1 {
  margin: 12px 16px 0px 4px !important; }

.m-3-4-0-2 {
  margin: 12px 16px 0px 8px !important; }

.m-3-4-0-3 {
  margin: 12px 16px 0px 12px !important; }

.m-3-4-0-4 {
  margin: 12px 16px 0px 16px !important; }

.m-3-4-1-0 {
  margin: 12px 16px 4px 0px !important; }

.m-3-4-1-1 {
  margin: 12px 16px 4px 4px !important; }

.m-3-4-1-2 {
  margin: 12px 16px 4px 8px !important; }

.m-3-4-1-3 {
  margin: 12px 16px 4px 12px !important; }

.m-3-4-1-4 {
  margin: 12px 16px 4px 16px !important; }

.m-3-4-2-0 {
  margin: 12px 16px 8px 0px !important; }

.m-3-4-2-1 {
  margin: 12px 16px 8px 4px !important; }

.m-3-4-2-2 {
  margin: 12px 16px 8px 8px !important; }

.m-3-4-2-3 {
  margin: 12px 16px 8px 12px !important; }

.m-3-4-2-4 {
  margin: 12px 16px 8px 16px !important; }

.m-3-4-3-0 {
  margin: 12px 16px 12px 0px !important; }

.m-3-4-3-1 {
  margin: 12px 16px 12px 4px !important; }

.m-3-4-3-2 {
  margin: 12px 16px 12px 8px !important; }

.m-3-4-3-3 {
  margin: 12px 16px 12px 12px !important; }

.m-3-4-3-4 {
  margin: 12px 16px 12px 16px !important; }

.m-3-4-4-0 {
  margin: 12px 16px 16px 0px !important; }

.m-3-4-4-1 {
  margin: 12px 16px 16px 4px !important; }

.m-3-4-4-2 {
  margin: 12px 16px 16px 8px !important; }

.m-3-4-4-3 {
  margin: 12px 16px 16px 12px !important; }

.m-3-4-4-4 {
  margin: 12px 16px 16px 16px !important; }

.m-4-0-0-0 {
  margin: 16px 0px 0px 0px !important; }

.m-4-0-0-1 {
  margin: 16px 0px 0px 4px !important; }

.m-4-0-0-2 {
  margin: 16px 0px 0px 8px !important; }

.m-4-0-0-3 {
  margin: 16px 0px 0px 12px !important; }

.m-4-0-0-4 {
  margin: 16px 0px 0px 16px !important; }

.m-4-0-1-0 {
  margin: 16px 0px 4px 0px !important; }

.m-4-0-1-1 {
  margin: 16px 0px 4px 4px !important; }

.m-4-0-1-2 {
  margin: 16px 0px 4px 8px !important; }

.m-4-0-1-3 {
  margin: 16px 0px 4px 12px !important; }

.m-4-0-1-4 {
  margin: 16px 0px 4px 16px !important; }

.m-4-0-2-0 {
  margin: 16px 0px 8px 0px !important; }

.m-4-0-2-1 {
  margin: 16px 0px 8px 4px !important; }

.m-4-0-2-2 {
  margin: 16px 0px 8px 8px !important; }

.m-4-0-2-3 {
  margin: 16px 0px 8px 12px !important; }

.m-4-0-2-4 {
  margin: 16px 0px 8px 16px !important; }

.m-4-0-3-0 {
  margin: 16px 0px 12px 0px !important; }

.m-4-0-3-1 {
  margin: 16px 0px 12px 4px !important; }

.m-4-0-3-2 {
  margin: 16px 0px 12px 8px !important; }

.m-4-0-3-3 {
  margin: 16px 0px 12px 12px !important; }

.m-4-0-3-4 {
  margin: 16px 0px 12px 16px !important; }

.m-4-0-4-0 {
  margin: 16px 0px 16px 0px !important; }

.m-4-0-4-1 {
  margin: 16px 0px 16px 4px !important; }

.m-4-0-4-2 {
  margin: 16px 0px 16px 8px !important; }

.m-4-0-4-3 {
  margin: 16px 0px 16px 12px !important; }

.m-4-0-4-4 {
  margin: 16px 0px 16px 16px !important; }

.m-4-1-0-0 {
  margin: 16px 4px 0px 0px !important; }

.m-4-1-0-1 {
  margin: 16px 4px 0px 4px !important; }

.m-4-1-0-2 {
  margin: 16px 4px 0px 8px !important; }

.m-4-1-0-3 {
  margin: 16px 4px 0px 12px !important; }

.m-4-1-0-4 {
  margin: 16px 4px 0px 16px !important; }

.m-4-1-1-0 {
  margin: 16px 4px 4px 0px !important; }

.m-4-1-1-1 {
  margin: 16px 4px 4px 4px !important; }

.m-4-1-1-2 {
  margin: 16px 4px 4px 8px !important; }

.m-4-1-1-3 {
  margin: 16px 4px 4px 12px !important; }

.m-4-1-1-4 {
  margin: 16px 4px 4px 16px !important; }

.m-4-1-2-0 {
  margin: 16px 4px 8px 0px !important; }

.m-4-1-2-1 {
  margin: 16px 4px 8px 4px !important; }

.m-4-1-2-2 {
  margin: 16px 4px 8px 8px !important; }

.m-4-1-2-3 {
  margin: 16px 4px 8px 12px !important; }

.m-4-1-2-4 {
  margin: 16px 4px 8px 16px !important; }

.m-4-1-3-0 {
  margin: 16px 4px 12px 0px !important; }

.m-4-1-3-1 {
  margin: 16px 4px 12px 4px !important; }

.m-4-1-3-2 {
  margin: 16px 4px 12px 8px !important; }

.m-4-1-3-3 {
  margin: 16px 4px 12px 12px !important; }

.m-4-1-3-4 {
  margin: 16px 4px 12px 16px !important; }

.m-4-1-4-0 {
  margin: 16px 4px 16px 0px !important; }

.m-4-1-4-1 {
  margin: 16px 4px 16px 4px !important; }

.m-4-1-4-2 {
  margin: 16px 4px 16px 8px !important; }

.m-4-1-4-3 {
  margin: 16px 4px 16px 12px !important; }

.m-4-1-4-4 {
  margin: 16px 4px 16px 16px !important; }

.m-4-2-0-0 {
  margin: 16px 8px 0px 0px !important; }

.m-4-2-0-1 {
  margin: 16px 8px 0px 4px !important; }

.m-4-2-0-2 {
  margin: 16px 8px 0px 8px !important; }

.m-4-2-0-3 {
  margin: 16px 8px 0px 12px !important; }

.m-4-2-0-4 {
  margin: 16px 8px 0px 16px !important; }

.m-4-2-1-0 {
  margin: 16px 8px 4px 0px !important; }

.m-4-2-1-1 {
  margin: 16px 8px 4px 4px !important; }

.m-4-2-1-2 {
  margin: 16px 8px 4px 8px !important; }

.m-4-2-1-3 {
  margin: 16px 8px 4px 12px !important; }

.m-4-2-1-4 {
  margin: 16px 8px 4px 16px !important; }

.m-4-2-2-0 {
  margin: 16px 8px 8px 0px !important; }

.m-4-2-2-1 {
  margin: 16px 8px 8px 4px !important; }

.m-4-2-2-2 {
  margin: 16px 8px 8px 8px !important; }

.m-4-2-2-3 {
  margin: 16px 8px 8px 12px !important; }

.m-4-2-2-4 {
  margin: 16px 8px 8px 16px !important; }

.m-4-2-3-0 {
  margin: 16px 8px 12px 0px !important; }

.m-4-2-3-1 {
  margin: 16px 8px 12px 4px !important; }

.m-4-2-3-2 {
  margin: 16px 8px 12px 8px !important; }

.m-4-2-3-3 {
  margin: 16px 8px 12px 12px !important; }

.m-4-2-3-4 {
  margin: 16px 8px 12px 16px !important; }

.m-4-2-4-0 {
  margin: 16px 8px 16px 0px !important; }

.m-4-2-4-1 {
  margin: 16px 8px 16px 4px !important; }

.m-4-2-4-2 {
  margin: 16px 8px 16px 8px !important; }

.m-4-2-4-3 {
  margin: 16px 8px 16px 12px !important; }

.m-4-2-4-4 {
  margin: 16px 8px 16px 16px !important; }

.m-4-3-0-0 {
  margin: 16px 12px 0px 0px !important; }

.m-4-3-0-1 {
  margin: 16px 12px 0px 4px !important; }

.m-4-3-0-2 {
  margin: 16px 12px 0px 8px !important; }

.m-4-3-0-3 {
  margin: 16px 12px 0px 12px !important; }

.m-4-3-0-4 {
  margin: 16px 12px 0px 16px !important; }

.m-4-3-1-0 {
  margin: 16px 12px 4px 0px !important; }

.m-4-3-1-1 {
  margin: 16px 12px 4px 4px !important; }

.m-4-3-1-2 {
  margin: 16px 12px 4px 8px !important; }

.m-4-3-1-3 {
  margin: 16px 12px 4px 12px !important; }

.m-4-3-1-4 {
  margin: 16px 12px 4px 16px !important; }

.m-4-3-2-0 {
  margin: 16px 12px 8px 0px !important; }

.m-4-3-2-1 {
  margin: 16px 12px 8px 4px !important; }

.m-4-3-2-2 {
  margin: 16px 12px 8px 8px !important; }

.m-4-3-2-3 {
  margin: 16px 12px 8px 12px !important; }

.m-4-3-2-4 {
  margin: 16px 12px 8px 16px !important; }

.m-4-3-3-0 {
  margin: 16px 12px 12px 0px !important; }

.m-4-3-3-1 {
  margin: 16px 12px 12px 4px !important; }

.m-4-3-3-2 {
  margin: 16px 12px 12px 8px !important; }

.m-4-3-3-3 {
  margin: 16px 12px 12px 12px !important; }

.m-4-3-3-4 {
  margin: 16px 12px 12px 16px !important; }

.m-4-3-4-0 {
  margin: 16px 12px 16px 0px !important; }

.m-4-3-4-1 {
  margin: 16px 12px 16px 4px !important; }

.m-4-3-4-2 {
  margin: 16px 12px 16px 8px !important; }

.m-4-3-4-3 {
  margin: 16px 12px 16px 12px !important; }

.m-4-3-4-4 {
  margin: 16px 12px 16px 16px !important; }

.m-4-4-0-0 {
  margin: 16px 16px 0px 0px !important; }

.m-4-4-0-1 {
  margin: 16px 16px 0px 4px !important; }

.m-4-4-0-2 {
  margin: 16px 16px 0px 8px !important; }

.m-4-4-0-3 {
  margin: 16px 16px 0px 12px !important; }

.m-4-4-0-4 {
  margin: 16px 16px 0px 16px !important; }

.m-4-4-1-0 {
  margin: 16px 16px 4px 0px !important; }

.m-4-4-1-1 {
  margin: 16px 16px 4px 4px !important; }

.m-4-4-1-2 {
  margin: 16px 16px 4px 8px !important; }

.m-4-4-1-3 {
  margin: 16px 16px 4px 12px !important; }

.m-4-4-1-4 {
  margin: 16px 16px 4px 16px !important; }

.m-4-4-2-0 {
  margin: 16px 16px 8px 0px !important; }

.m-4-4-2-1 {
  margin: 16px 16px 8px 4px !important; }

.m-4-4-2-2 {
  margin: 16px 16px 8px 8px !important; }

.m-4-4-2-3 {
  margin: 16px 16px 8px 12px !important; }

.m-4-4-2-4 {
  margin: 16px 16px 8px 16px !important; }

.m-4-4-3-0 {
  margin: 16px 16px 12px 0px !important; }

.m-4-4-3-1 {
  margin: 16px 16px 12px 4px !important; }

.m-4-4-3-2 {
  margin: 16px 16px 12px 8px !important; }

.m-4-4-3-3 {
  margin: 16px 16px 12px 12px !important; }

.m-4-4-3-4 {
  margin: 16px 16px 12px 16px !important; }

.m-4-4-4-0 {
  margin: 16px 16px 16px 0px !important; }

.m-4-4-4-1 {
  margin: 16px 16px 16px 4px !important; }

.m-4-4-4-2 {
  margin: 16px 16px 16px 8px !important; }

.m-4-4-4-3 {
  margin: 16px 16px 16px 12px !important; }

.m-4-4-4-4 {
  margin: 16px 16px 16px 16px !important; }

/**
 * m-x  [x --> 0...4] class structure
 */
.m-0 {
  margin: 0px, 0px, 0px, 0px !important; }

.m-1 {
  margin: 4px, 4px, 4px, 4px !important; }

.m-2 {
  margin: 8px, 8px, 8px, 8px !important; }

.m-3 {
  margin: 12px, 12px, 12px, 12px !important; }

.m-4 {
  margin: 16px, 16px, 16px, 16px !important; }

/**
 * mt-x, mr-x, mb-x, ml-x  [x --> 0...4]  class structure
 */
.mt-0 {
  margin-top: 0px !important; }

.mt-1 {
  margin-top: 4px !important; }

.mt-2 {
  margin-top: 8px !important; }

.mt-3 {
  margin-top: 12px !important; }

.mt-4 {
  margin-top: 16px !important; }

.mr-0 {
  margin-right: 0px !important; }

.mr-1 {
  margin-right: 4px !important; }

.mr-2 {
  margin-right: 8px !important; }

.mr-3 {
  margin-right: 12px !important; }

.mr-4 {
  margin-right: 16px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.mb-1 {
  margin-bottom: 4px !important; }

.mb-2 {
  margin-bottom: 8px !important; }

.mb-3 {
  margin-bottom: 12px !important; }

.mb-4 {
  margin-bottom: 16px !important; }

.ml-0 {
  margin-left: 0px !important; }

.ml-1 {
  margin-left: 4px !important; }

.ml-2 {
  margin-left: 8px !important; }

.ml-3 {
  margin-left: 12px !important; }

.ml-4 {
  margin-left: 16px !important; }

/**
 * mx-n, my-n [n --> 0...4] / auto  class structure
 */
.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.mx-1 {
  margin-left: 4px !important;
  margin-right: 4px !important; }

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.mx-2 {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.mx-3 {
  margin-left: 12px !important;
  margin-right: 12px !important; }

.my-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important; }

.mx-4 {
  margin-left: 16px !important;
  margin-right: 16px !important; }

.my-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.m-auto {
  margin: auto !important; }

.m-inherit {
  margin: inherit !important; }
